body {
  font-family: 'DM Sans', sans-serif; /* Définit la police de caractères principale */
  margin: 0; /* Supprime les marges par défaut */
}

/* Style de la logo */
.logo {
  height: 50px; /* Hauteur du logo */
  margin: 30px 0 0 130px; /* Marge autour du logo */
}

/* Style de l'en-tête du photographe */
.photograph-header {
  display: flex; /* Utilise le modèle Flexbox pour disposer les éléments */
  justify-content: space-between; /* Espacement égal entre les éléments */
  align-items: center; /* Aligne les éléments verticalement au centre */
  padding: 20px; /* Ajoute du padding autour de l'en-tête */
  height: 30vh; /* Hauteur de l'en-tête */
  margin: 4vh 8vw; /* Marge externe */
  background: rgba(250, 250, 250, 1); /* Couleur de fond */
}

/* Largeur des sections de l'en-tête */
.photograph-header__infos,
.photograph-header__portrait {
  width: 33%; /* Définit la largeur des sections */
}

/* Style du nom du photographe */
.photograph-header__infos h2 {
  font-size: 48px; /* Taille de la police */
  font-weight: 400; /* Poids de la police */
  text-align: left; /* Aligne le texte à gauche */
  color: rgba(211, 87, 60, 1); /* Couleur du texte */
}

/* Style de la localisation du photographe */
.photographer-card__location {
  font-size: 24px; /* Taille de la police */
  font-weight: 400; /* Poids de la police */
  line-height: 31.25px; /* Hauteur de ligne */
  text-align: left; /* Aligne le texte à gauche */
  color: rgba(144, 28, 28, 1); /* Couleur du texte */
}

/* Style de la devise du photographe */
.photographer-card__tagline {
  font-size: 18px; /* Taille de la police */
  font-weight: 400; /* Poids de la police */
  text-align: left; /* Aligne le texte à gauche */
  color: rgba(82, 82, 82, 1); /* Couleur du texte */
}

/* Style du bouton de contact */
.contactButton {
  width: 170px; /* Largeur du bouton */
  height: 69px; /* Hauteur du bouton */
  background-color: #901c1c; /* Couleur de fond */
  border-radius: 5px; /* Coins arrondis */
  color: white; /* Couleur du texte */
  cursor: pointer; /* Curseur de la souris */
  font-size: 20px; /* Taille de la police */
  text-align: center; /* Aligne le texte au centre */
  margin-top: 20px; /* Marge en haut */
}

/* Style des éléments focussés */
a:focus,
button:focus {
  outline: 2px solid #901c1c; /* Contour des éléments focussés */
  outline-offset: 2px; /* Décalage du contour */
}

/* Informations du photographe */
.photographer-infos {
  display: flex; /* Utilise le modèle Flexbox pour disposer les éléments */
  flex-direction: column; /* Aligne les éléments en colonne */
}

/* Espacement entre les lignes de texte */
.photographer-infos h2,
.photographer-infos p {
  margin: 5px 0; /* Marge entre les lignes de texte */
}

/* Masquer le prix sur certaines pages */
.photographer-infos .photographer-card__price {
  display: none; /* Masque l'élément */
}

/* Style de l'image du photographe */
.photograph-header img {
  height: 200px; /* Hauteur de l'image */
  width: 200px; /* Largeur de l'image */
  border-radius: 50%; /* Cercle parfait */
  margin: 0 0 0 200px; /* Marge à gauche */
}

/* Conteneur pour le tri des médias */
.tri-container {
  display: block; /* Affichage en bloc */
  position: relative; /* Positionnement relatif */
  margin-left: 140px; /* Marge à gauche */
}

/* Style du label pour le tri */
.mon-label {
  font-weight: bold; /* Texte en gras */
  color: rgba(0, 0, 0, 1); /* Couleur du texte */
  position: relative; /* Positionnement relatif */
  top: 0; /* Positionné depuis le haut */
}

/* Style pour le select */
#sort {
  width: 170px; /* Largeur du select */
  height: 55px; /* Hauteur du select */
  background-color: #901c1c; /* Couleur de fond */
  border-radius: 5px; /* Coins arrondis */
  margin-left: 25px; /* Marge à gauche */
  cursor: pointer; /* Curseur de la souris */
  color: white; /* Couleur du texte */
  font-weight: bold; /* Texte en gras */
  font-size: 2vh; /* Taille de la police */
  box-sizing: border-box; /* Inclut le padding et la bordure dans les dimensions */
}

/* Galerie de photos et vidéos */
.photograph-gallery {
  display: flex; /* Utilise le modèle Flexbox */
  flex-direction: row; /* Disposition des éléments en ligne */
  flex-wrap: wrap; /* Permet le retour à la ligne des éléments */
  justify-content: space-around; /* Espacement des éléments */
  margin: 3vh 5vw; /* Marges externes */
  gap: 2vh; /* Espacement entre les éléments */
}

/* Style pour les images et les vidéos */
.photograph-gallery img,
.photograph-gallery video {
  width: 350px; /* Largeur des médias */
  height: 351px; /* Hauteur des médias */
  object-fit: cover; /* Conserver le ratio de l'image/vidéo */
}

.media-container {
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.media-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.media-title {
  font-weight: 400;
  size: 24px;
  line-height: 31px;
  font-family: 'DM Sans', sans-serif;
  font-size: 1.2rem;
  margin: 0;
  flex-grow: 1;
  text-align: left;
  color: rgba(144, 28, 28, 1);
}

.media-likes-container {
  display: flex;
  align-items: center;
}

.media-likes {
  font-weight: 500;
  font-family: 'DM Sans', sans-serif;
  font-size: 1rem;
  color: rgba(144, 28, 28, 1);
}

.media-likes-button {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: rgba(144, 28, 28, 1);
}

.photograph-footer {
  position: fixed; /* Fixe le conteneur */
  bottom: 0; /* Positionné en bas de la page */
  right: 30px;
  margin-left: auto;
  display: flex;
  align-items: center;
  width: 300px;
  padding: 10px 20px;
  background: rgba(219, 136, 118, 1); /* Couleur de fond */
  border-radius: 5px;
  z-index: 1000;
}

.total-likes {
  font-size: 24px;
  color: black;
}

.total-likes i {
  color: black;
}

.price-per-day {
  font-size: 24px;
  color: black;
  margin-left: 90px;
}

#contact_modal {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8); /* Arrière-plan semi-transparent */
  z-index: 1000;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  margin: 10px auto 10px auto;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.modal__header img {
  cursor: pointer;
  height: 24px;
  width: 24px;
}

.modal__header h2 {
  font-size: 2rem;
  font-weight: normal;
  margin: 0;
  padding-right: 20px;
}

#photographerName {
  font-weight: bold;
  color: #901c1c;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 30px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

form input,
form textarea {
  width: 100%;
  height: 55px;
  border: none;
  border-radius: 5px;
  padding: 10px; /* Ajouter du padding pour l'espacement interne */
  font-size: 16px;
}

form textarea {
  height: 130px;
  resize: none; /* Empêche le redimensionnement de la zone de texte */
}

@media (max-width: 768px) {
  .photograph-header {
    flex-direction: column;
    height: auto;
  }

  .photograph-header__infos,
  .photograph-header__portrait {
    width: 100%;
  }

  .logo {
    margin: 0;
  }
}
