body {
  font-family: 'DM Sans', sans-serif;
  margin: 0;
}

/* Style de la logo */
.logo {
  height: 50px;
  margin: 30px 0 0 130px;
}

.photograph-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 30vh;
  margin: 4vh 8vw;
  background: rgba(250, 250, 250, 1);
}

.photograph-header__infos,
.photograph-header__portrait {
  width: 33%;
}

.photograph-header__infos h2 {
  font-size: 48px;
  font-weight: 400;
  text-align: left;
  color: rgba(211, 87, 60, 1);
}

.photographer-card__location {
  font-size: 24px;
  font-weight: 400;
  line-height: 31.25px;
  text-align: left;
  color: rgba(144, 28, 28, 1);
}

.photographer-card__tagline {
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  color: rgba(82, 82, 82, 1);
}

.contactButton {
  width: 170px;
  height: 69px;
  background-color: #901c1c;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}

a:focus,
button:focus {
  outline: 2px solid #901c1c;
  outline-offset: 2px;
}

.photographer-infos {
  display: flex;
  flex-direction: column;
}

.photographer-infos h2,
.photographer-infos p {
  margin: 5px 0;
}

.photographer-infos .photographer-card__price {
  display: none;
}

.photograph-header img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: 0 0 0 200px;
}

.tri-container {
  display: block;
  position: relative;
  margin-left: 140px;
}

.mon-label {
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
  position: relative;
  top: 0;
}

#sort {
  width: 170px;
  height: 55px;
  background-color: #901c1c;
  border-radius: 5px;
  margin-left: 25px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 2vh;
  box-sizing: border-box;
}

.photograph-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 3vh 5vw;
  gap: 2vh;
}

.photograph-gallery img,
.photograph-gallery video {
  width: 350px;
  height: 351px;
  object-fit: cover;
}

.media-container {
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.media-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.media-title {
  font-weight: 400;
  size: 24px;
  line-height: 31px;
  font-family: 'DM Sans', sans-serif;
  font-size: 1.2rem;
  margin: 0;
  flex-grow: 1;
  text-align: left;
  color: rgba(144, 28, 28, 1);
}

.media-likes-container {
  display: flex;
  align-items: center;
}

.media-likes {
  font-weight: 500;
  font-family: 'DM Sans', sans-serif;
  font-size: 1rem;
  color: rgba(144, 28, 28, 1);
}

.media-likes-button {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: rgba(144, 28, 28, 1);
}

.photograph-footer {
  position: fixed;
  bottom: 0;
  right: 30px;
  margin-left: auto;
  display: flex;
  align-items: center;
  width: 300px;
  padding: 10px 20px;
  background: rgba(219, 136, 118, 1);
  border-radius: 5px;
  z-index: 1000;
}

.total-likes {
  font-size: 24px;
  color: black;
}

.total-likes i {
  color: black;
}

.price-per-day {
  font-size: 24px;
  color: black;
  margin-left: 90px;
}

#contact_modal {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8); 
  z-index: 1000;
}
.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px; 
  margin: 10px auto;
  
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 10px; 
  margin-bottom: 20px; 
}

.modal__header button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.modal__header img {
  height: 24px;
  width: 24px;
  filter: invert(100%); 
}
.modal__header h2 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0;
}

#photographerName {
  color: black;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
}

form label {
  color: black; 
  font-size: 1.1rem; 
  margin-bottom: 5px; 
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px; 
}

form input,
form textarea {
  width: 100%;
  height: 40px;
  border: none; 
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
  box-sizing: border-box; 
}

form textarea {
  height: 100px; 
  resize: none;
}

.contactButton[type="submit"] {
  width: 40%;
  background-color: #901c1c;
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  padding: 15px;
  text-align: center;
}



@media (max-width: 768px) {
  .photograph-header {
    flex-direction: column;
    height: auto;
  }

  .photograph-header__infos,
  .photograph-header__portrait {
    width: 100%;
  }

  .logo {
    margin: 0;
  }
}
